{% extends "base.html" %}


{% block title %} ABOUT {% endblock %}


{% block content %}

<h1 class="page-header main text-center"> ABOUT</h1>
<div class="main">
    <h2 class="text-center">Brewtopia is an open source celebration of homebrewers and microbreweries in the greater Denver area.
        We welcome all brewers to join in on the fun, anyone can participate!</h2>
    <div class="text-center">
        <img src="static/cheeseman.png">
        </div>
    <h2 class="text-center">Cheeseman park on 11.20.16 starting at 4 p.m.</h2>
</div>




{% endblock %}
