{% extends "base.html" %}

{% block title %} BREWTOPIA {% endblock %}



{% block content %}

<h1 class="page-header main text-center"> FLOFFENHAUSER BREWING CO. PRESENTS</h1>

<div>
    <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul class="alert alert-success">
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="text-center">
    <img src="static/brewtopia.png">
</div>

<br>
<h1 class="text-center">Featuring:</h1>
    <br>
        {% for i in brewery %}
            <h1 class="text-center">{{i.name}}</h1>
        {% endfor %}
    </br>

</br>

{% endblock %}
